/* Layout ******************/
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  src: local('Cuprum'), url('/css/fonts/Cuprum.ttf') format('truetype');
}

body {
    margin: 0 auto; padding: 0px;
    width: 972px;
}

a {
    text-decoration: none;
}

ul {
  margin: 0; padding: 0;
  list-position: inside;
  list-style-type: none;
}

a:hover {
    text-decoration: underline;
    color: #cc3333;
}

ul#navigation {
    margin: 0px; padding: 0px;
    margin-top: 10px;
}
ul#navigation li{
    float: left;
    list-style: none;
    margin: 0 15px;padding: 0px;

    line-height: 40px;
    vertical-align: middle;
}

div#navigation-bottom {
    clear: both;
}

div#base-navigation {
    display: inline;
    float: left;
    width: 181px;
    text-align: center;
}

div#base-navigation img{
    margin: 0 6px; padding: 0px;
}

div#main {
    clear: both;
    overflow: hidden;
    min-height: 500px;
    width: 100%;
}

div#content {
    float: left;
    width: 715px;
    margin-left: 3px;
}

div#sidebar {
    float: right;
    width: 215px;
    margin-right: 4px;
}

div#contentbottom {
    clear: both;
    width: 972px;
    height: 29px;
}

div#contenttop {
    clear: both;
    width: 972px;
    height: 29px;
}

div#footer {
    clear: both;
    text-align: center;
    margin-left: 50px;
}

#search{
    width: 190px;
    height: 24px;
    vertical-align: middle;
}

#search-input {
    border: none;
    margin:0px; padding: 0px;
    margin-top: 5px;
    margin-left: 10px;
    width: 155px;
    height: 20;
    text-align: top;
}

#search-icon {
    border: none;
    background-image: url(/images/widget/search.png);
    background-repeat: no-repeat;
    background-color: #f3f3f3;
    width: 12px;
    height: 12px;
    margin:0px; padding: 0px;
    margin-top: 6px;
    paddding: 2px;
    cursor: pointer;
}

#logo {
    vertical-align: inherit;
}
/* Fonts *******************/

body {
    font-size: 12px;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

strong {
    font-weight: normal;
}

ul#navigation li a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: #3F4143 0 1px 2px;
}

ul#navigation li a strong{
    font-size: 14pt;
}

div#footer span#year, #license {
    font-size: 12px;
    color: #FFFFFF;
}

div#footer span#label {
    font-size: 12px;
    color: #98D3FF;
    text-shadow: #3F4143 0 1px 2px;
}

small#player-loading {
    font-weight: 500;
}

/* Colors ******************/

body {
    background: url(/images/design/background.gif);
}

div#contenttop {
    background-image: url(/images/design/contenttop.png);
    background-repeat: no-repeat;
}

div#contentbottom {
    background-image: url(/images/design/contentbottom.png);
    background-repeat: no-repeat;
}

div#main {
    background-image: url(/images/design/contentbg.png);
    _background-image: url(/images/design/contentbgie.png);
    background-repeat: repeat-y;
}


#search {
  margin-left: 7px;
  background-image: url(/images/design/search.png);
}

#search-input{
    background-color: #f3f3f3;
}
/* Misc ********************/
img {
    border: 0;
}

.first {
    margin-left: 25px;
}

.first-double{
    margin-left: 50px;
}

hr.space {
    visibility:hidden;
    clear: both;
    margin-bottop: 10px;
}

br {
    height: 0px;
    margin: 0px; padding: 0px;
}

.append-bottom {
    margin-bottom: 5px;
}

.prepend-top {
    margin-top: 10px;
}
.highlight, .pager_link, .pager_curpage {
    display: inline-block;
    margin: 2px; padding: 3px;
    background-color: #CDCDCD;
    color: #505456;
    font-weight: 700;
    text-decoration: none;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

.active, .pager_curpage{
    background-color: #c0c0c0;
}

.hidden {
  display:none;
}

/* Guidem-app engine HTML% */

h4 {
  font-family: "Cuprum";
  font-size: 1.7em;
  margin: 0.3em 0;
}

.composer {
  display: inline-block;
  width: 200px;
  margin: 10px;
  overflow: hidden;

  text-align: center;
 }

.composer img {
  width: 200px;
}

.loader {
  text-align: center;
}

.compositionBox {
  padding-right: 10px;
}

.compositionBox h5 a{
  font-size: 1.2em;
}

.composerBox h4{
  text-align: center;
  margin: 0.5em 0;
}

.hrImage{
  float: right;
  clear: both;
}

.nextBox{
  text-align: center;
}

/* Big search widget */
#big-search {
  height: 38px;
  vertical-align: bottom;
}

#big-search-wrap {
  float: left;
  height: 38px;
  width:594px;
  background: url(/images/design/big-search-bg.png);
  border: 1px solid #424143;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#big-search-input {
  width: 574px;
  height: 30px;

  margin: 3px; padding: 0 6px;
  border: 1px solid #CBC9CF;

  font-size: 18px;
  color: #1E1E1F;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#big-search-submit {
  float: left;

  /* fucking fix */
  position: relative;
  top:6px;

  width: 65px;
  height: 32px;

  margin: 3px; padding-left: 10px;
  border: 0;


  font-size: 26px;
  font-family: 'Cuprum';
  font-weight: bold;
  color: #1E1E1F;
  text-align: center;
}

#big-search-submit:hover{
  cursor: pointer;
  color: #cc3333;
}

#scroller {
  position: fixed;
}
