div#content {
    margin-left: 2px;
}
div#sidebar {
    margin-right: 2px;
}

div.head-news.first {
    margin-left: 13px;
}

fieldset {
    padding: 10px;
    }
    
.first {
    padding-left: 13px;
}
.space-ie-clear {
    display: none;
}

div.sidebar-record {
    width: 200px;
}
.continue {
    padding-left: 13px;
}

#logo-box {
    display: inline-block;
    height: 40px;
}